/* ...............  Header Styling ................... */

#container {
  height: 100svh;
  width: 100%;
  position: fixed;
  background: url(../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-position: center;
}
